body{
    overflow-x: hidden;
    height: 100vh;
    color: rgb(31, 31, 31);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(22, 22, 22);

    margin: 0;
}

#background{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(img.png);
}

#tab{
    z-index: 999;
    background-color: rgba(19, 19, 19, 0.515);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    
}

#tab h1{
    font-size: 20px;
    margin-bottom: none;
    margin-left: 10px;
    color: white;
    display: inline;
}

#tab a{
    text-decoration: none;
    font-weight: 600;

    margin-bottom: none;
    font-size: 20px;
    color: white;
}

#tab a:nth-of-type(2){
    margin-right: 25px;
    padding-left: 15px;
    border-left: 1px solid rgb(255, 255, 255);
}

#tab a:nth-of-type(1){
    margin-right: 15px;
}

#shark-core{
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    color: white;
    height: 100vh;
    width: 100vw;
}

.center{
    text-shadow: black 1px 0 4px;
    text-align: center;
    color: rgb(233, 233, 233);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #191919;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#info{
    
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#info h3{
    text-align: center;
}

#info p{
    text-align: left;
}

#infoChild{
    border-radius: 5px;
    background: rgba(169, 169, 169, 0.368);
    backdrop-filter: blur(5px);
    max-width: 90vw;
    box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.3), -14px -14px 28px rgba(255, 255, 255, 0.3);
    padding: 10px;
    margin: 10px;
    max-width: 30vw;
}

@media only screen and (max-width: 900px) {
    #infoChild{
        max-width: 42vw;
    }
}


#infoHorizional{
    margin-left: 4vw;
}

#infoHorizional h2{
    text-shadow: rgb(42, 42, 42) 1px 0 3px;
    color: rgb(233, 233, 233);
}

#infoHorizional p{
    background: rgba(169, 169, 169, 0.368);
    backdrop-filter: blur(5px);
    max-width: 90vw;
    box-shadow: 14px 14px 28px rgba(0, 0, 0, 0.3), -14px -14px 28px rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
}

#buying{
    width: 100vw;
    text-align: center;
}


@media only screen and (min-width: 2560px) {
    h1, h2, h3, h4, h5{
        font-size: 2vw;
    }
    #infoChild{
        margin: 20px;
    }
    p{
        font-size: 1vw;
    }
    #button1{
        color: black;
    }
    #shark1{
        color: #191919;
    }
}

@media only screen and (max-width: 460px) {
    body{
        text-align: center;
    }
    .del{
        display: none;
    }
    #info{
        align-items: center;
        flex-direction: column;
    }
    #infoChild{
        box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.3);
        border-radius: 0;
        background-color: rgba(240, 240, 240, 0.228);
        text-align: center;
        margin: none;
        padding: 5px;
        max-width: 90vw;
    }
    #infoChild p{
        text-align: center;
        margin: 0;
    }
    p{
        width: 100%;
        text-align: center;
    }
    #infoHorizional{
        min-width: 100vw;
        margin-left: 0;
    }

    #infoHorizional p{
        padding: 5px;
        box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.3);
        border-radius: 0;
        background-color: rgba(240, 240, 240, 0.228);
        min-width: 90vw;
        margin: auto;
    }

}


#button1{
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    user-select: none;
    font-weight: 800;
    border-radius: 10px;
    border: rgb(255, 255, 255) 2px solid;
    color: rgb(255, 255, 255);
    background: transparent;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 24px;
    background-image: linear-gradient(to right, transparent 50%, rgb(246, 246, 246) 50%);
    background-size: 200%;
    background-position: 0;
}

#buy1{
    width: 1;
}

#button1:hover #buy1{
    transform: translateY(-100%);
}

#button1:hover{
    box-shadow: 0px 0px 15px white;
    color: rgb(14, 14, 14);
    background-position: 100%;
}


.imp1{    
    background: linear-gradient(to right, cyan 20%, rgb(0, 255, 21) 40%, rgb(0, 255, 34) 60%, cyan 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;
  }

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

