body{
    overflow-x: hidden;
    height: 100vh;
    color: rgb(225, 225, 225);
    font-family: 'Poppins', sans-serif;
    background-color: rgb(14, 14, 14);

    margin: 0;
}

#background{
    filter: brightness(55%);
    z-index: -1;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(img.png);
}

#tab{
    background-color: rgba(19, 19, 19, 0.515);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    
}

#tab h1{
    font-size: 20px;
    margin-bottom: none;
    margin-left: 10px;
    color: white;
    display: inline;
}

#tab a{
    text-decoration: none;
    font-weight: 600;

    margin-bottom: none;
    font-size: 20px;
    color: white;
}

#tab a:nth-of-type(2){
    margin-right: 25px;
    padding-left: 15px;
    border-left: 1px solid rgb(255, 255, 255);
}

#tab a:nth-of-type(1){
    margin-right: 15px;
}

#shark-core{
    color: white;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display{
    color: white;
    height: 100vh;
    width: 100vw;
}

.center{
    text-align: center;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #191919;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#info{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#info h3{
    text-align: center;
}

#info p{
    text-align: left;
}

#infoChild{
    margin: 10px;
    max-width: 45vw;
}

h1, h2, h3, .imp{    
    background: linear-gradient(to right, cyan 20%, rgb(0, 255, 21) 40%, rgb(0, 255, 34) 60%, cyan 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: shine 1s linear infinite;
  }

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

#infoHorizional{
    margin-left: 4vw;
}

#infoHorizional p{
    max-width: 80vw;
}

#buying{
    width: 100vw;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  

  
  th {
    color: white;
  }




@media only screen and (max-width: 460px) {
    body{
        text-align: center;
    }
    .del{
        display: none;
    }
    #info{
        
        flex-direction: column;
    }
    #infoChild{
        text-align: center;
        margin: 10px;
        max-width: 100vw;
    }
    #infoChild p{
        text-align: center;
        margin: 0;
    }
    p{
        width: 100%;
        text-align: center;
    }
    #infoHorizional{
        min-width: 100vw;
        margin-left: 0;
    }

    #infoHorizional p{
        min-width: 90vw;
        margin: auto;
    }

}


#button1{
    text-decoration: none;
    user-select: none;
    font-weight: 800;
    border-radius: 10px;
    border: rgb(8, 152, 255) 2px solid;
    color: rgb(8, 152, 255);
    background: transparent;
    transition: 0.3s;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 24px;
    background-image: linear-gradient(to right, transparent 50%, rgb(8, 152, 255) 50%);
    background-size: 200%;
    background-position: 0;
}

#button1:hover{
    box-shadow: 0px 0px 15px rgb(8, 152, 255);
    color: white;
    background-position: 100%;
}

th{
    color: rgb(24, 24, 24);
}

.red{
    color: rgb(234, 41, 41);
}

.green{
    color: rgb(86, 234, 41);
}

